.about-us{
    background-color: var(--ep-color-purple);
    font-family: var(--ep-navbar-font);
    padding: 20px;
    display: grid;
    grid-template-columns: 1000px auto;
    align-items: center;
    width: 100%;
}

.about-us> .about> .content{
    background-color: white;
    border-radius: 50px;
    vertical-align: middle;
    align-items: center;
    width: 800px;
    padding: 20px;
    font-size: 20px;
    margin: 0 auto;
}

.about-us> .about> .content> .title{
    color: var(--ep-color-purple);

    margin-bottom: 20px;
}



.about-us> .perfil> .personal-data> h2{
    display: flex;
    justify-content: center;
    color: var(--ep-color-gray-lighter);
    font-size: 30px;
    font-family: var(--ep-secondary-font);
}

.about-us> .perfil> .personal-data{
    justify-content: center;
    display: grid;

}
