.video-home{
    margin-top: var(--ep-navbar-home-size);
    display: grid;
    grid-template-columns: auto 500px;
    height: 500px;
    background-color: var(--ep-color-dark);
}

.video-home> .module-lesson-list{
    background-color: var(--ep-color-dark);
    color: var(--ep-color-gray-lighter);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px ;
    width: 100%;
    overflow-y: auto;
}

.video-home > .module-lesson-list::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

.video-home > .module-lesson-list::-webkit-scrollbar-track {
    background: var(--ep-color-gray-dark);
}

.video-home > .module-lesson-list::-webkit-scrollbar-thumb {
    background: var(--ep-color-purple); 
    border-radius: 10px; 
}

.video-home > .module-lesson-list::-webkit-scrollbar-thumb:hover {
    background: var(--ep-color-purple-light); 
}

.video-home> .module-lesson-list> .module-lesson{
    display: flex;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
}

.video-home> .module-lesson-list> .module-lesson:hover{
    background-color: rgba(255, 255, 255, 0.047);
}

.video-home> .module-lesson-list> .module-lesson> .lesson-title{
    font-size: 16px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.video-home> .module-lesson-list> .module-lesson> .lesson-thumb{
    width: 100px;
    height: 60px;
    border-radius: 12px;
    padding: 0px 5px 0px 0px;
}
