.course-update {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.course-update > .course-update-content {
    width: 90%;
}

.course-update > .course-update-content > .title{
    color: var(--ep-color-gray-lighter);
    font-size: 24px;
    border-left: 8px solid var(--ep-color-purple);
    padding-left: 5px;
    font-weight: 600;
}

.course-update > .course-update-content > .section-edit {
    display: grid;
    margin: 20px 0;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    color: var(--ep-color-gray-lighter);
    border: 1px solid var(--ep-color-purple);
}

.course-update > .course-update-content > .section-edit {
    display: grid;
    margin: 20px 0;
    border-radius: 15px;
    padding: 20px;
    max-width: 100%;
    color: var(--ep-color-gray-lighter);
    border: 1px solid var(--ep-color-purple);
    overflow: hidden;
}

.course-update > .course-update-content > .section-edit .header{
    width: 100%;
    display: flex;
    gap: 20px;
}

.course-update > .course-update-content > .section-edit .header > button{
    width: 25px;
    height: 25px;
    background-color: var(--ep-color-purple);
    color: var(--ep-color-gray-lighter);
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-update > .course-update-content > .section-edit .header > button > span{
    font-size: 20px;
    font-weight: 600;
}

.course-update > .course-update-content > .section-edit .name, 
.course-update > .course-update-content > .section-edit .description, 
.course-update > .course-update-content > .section-edit .cover, 
.course-update > .course-update-content > .section-edit .subscription{
    display: flex;
    align-items: center;
    gap: 10px;
}

.course-update > .course-update-content > .section-edit .name label, 
.course-update > .course-update-content > .section-edit .description label, 
.course-update > .course-update-content > .section-edit .cover label, 
.course-update > .course-update-content > .section-edit .subscription label{
    width: 90px;
    font-size: 16px;
}

.course-update > .course-update-content > .section-edit .name input, 
.course-update > .course-update-content > .section-edit .description input, 
.course-update > .course-update-content > .section-edit .cover input, 
.course-update > .course-update-content > .section-edit .subscription select{
    flex: 1;
    border: 1px solid var(--ep-color-purple-light);
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--ep-color-gray-lighter);
    padding: 5px;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
}

.course-update > .course-update-content > .section-edit .send-form{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 0px 0px;
}

.course-update > .course-update-content > .section-edit .edit-btns{
    display: flex;
    gap: 8px;
}

.course-update > .course-update-content > .section-edit .edit-btns button{
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.course-update > .course-update-content > .section-edit .edit-btns i{
    font-size: 25px;
    color: var(--ep-color-gray-lighter);
    cursor: pointer;
}

.course-update > .course-update-content > .section-edit  .send-form-btn{
    width: 150px;
    height: 30px;
    background-color: var(--ep-color-purple);
    color: var(--ep-color-gray-lighter);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.course-update > .course-update-content > .section-edit form{
    display: grid;
    gap: 10px;
}

.course-update > .course-update-content > .section-edit .module{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    padding: 5px 20px 12px 20px;
    border-top: 0.5px solid rgba(128, 128, 128, 0.442);
    margin: 0px -18px 0px -20px;
}


.course-update > .course-update-content > .section-edit .module:first-child{
    border-top: none;
}

.course-update > .course-update-content > .section-edit .lesson{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    padding: 5px 20px 12px 20px;
    border-top: 0.5px solid rgba(128, 128, 128, 0.442);
    margin: 0px -18px 0px -20px;
}

.course-update > .course-update-content > .section-edit .lesson:first-child{
    border-top: none;
}

.course-update > .course-update-content > .section-edit .module > .md-inputs{
    display: grid;
    width: 100%;
    gap: 1px;
    
}

.course-update > .course-update-content > .section-edit .lesson > .ls-inputs{
    display: grid;
    width: 100%;
    gap: 1px;
    
}

.course-update > .course-update-content > .section-edit .module input{
    border: 1px solid var(--ep-color-purple-light);
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--ep-color-gray-lighter);
    padding: 5px;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
}

.course-update > .course-update-content > .section-edit .module .edit-btns{
    display: flex;
    align-items: center;
    gap: 1px;
    margin-left: 10px;
    color: var(--ep-color-gray-lighter);
    padding-top: 20px;
}

.course-update > .course-update-content > .section-edit .lesson .edit-btns{
    display: flex;
    align-items: center;
    gap: 1px;
    margin-left: 10px;
    color: var(--ep-color-gray-lighter);
    padding-top: 20px;
}

.course-update > .course-update-content > .section-edit .lesson input{
    border: 1px solid var(--ep-color-purple-light);
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--ep-color-gray-lighter);
    padding: 5px;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
}

.course-update > .course-update-content > .section-edit select{
    border: 2px solid var(--ep-color-purple-light);
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--ep-color-gray-lighter);
    padding: 5px;
    font-size: 16px;
    width: 100%;
}

.course-update > .course-update-content > .section-edit select > option{
    background-color: var(--ep-color-gray-dark);
}

input:disabled,
select:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

