.course-create-section{
    padding: 50px;
}

html{
    color: white;
}

.course-create-section> .course-create-content{

}

.course-create-section> .course-create-content> .title{
    color: var(--ep-color-gray-lighter);
    font-size: 24px;
    border-left: 8px solid var(--ep-color-purple);
    padding-left: 5px;
    font-weight: 600;
}

.course-create-section> .course-create-content> .course-create-inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
}
 
.course-create-section> .course-create-content> .course-create-inputs> input[type="text"], 
.course-create-section> .course-create-content> .course-create-inputs> input[type="url"]{
    width: 100%;
    border: 1px solid var(--ep-color-purple);
    background-color: transparent;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: var(--ep-color-gray-lighter);
}

.course-create-section> .course-create-content> .course-create-inputs textarea{
    max-width: 100%;
    border: 1px solid var(--ep-color-purple);
    background-color: transparent;
    height: 80px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: var(--ep-color-gray-lighter);
    font-family: var(--ep-primary-font);
}

.course-create-section> .course-create-content> .course-create-inputs label{
    color: var(--ep-color-gray-lighter);
    font-size: 18px;
    font-weight: 400;
    padding: 10px 2px 0px 0px;
}

.course-create-section> .course-create-content> .course-create-inputs> .send-form{
    justify-content: flex-end;
    display: flex;
    margin-top: 20px;
}

.course-create-section> .course-create-content> .course-create-inputs> .send-form> .send-form-btn{
    padding: 20px 55px;
    background-color: var(--ep-color-purple);
    height: 40px;
    border-radius: 5px;
    color: var(--ep-color-gray-lighter);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
}

.course-create-section> .course-create-content> .course-create-inputs> .send-form> .send-form-btn:hover, 
.add-module> #add-module-btn:hover{
    background-color: var(--ep-color-purple-light);
}

.add-module{
    display: grid;
    grid-template-columns: 80% 20%;

}

.add-module> .module-title-field {
    width: 95%;
    border: 1px solid var(--ep-color-purple);
    background-color: transparent;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: var(--ep-color-gray-lighter);
}

.add-module> #add-module-btn{
    background-color: var(--ep-color-purple);
    border-radius: 5px;
    color: var(--ep-color-gray-lighter);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.modules-container{
    display: flex;
    flex-direction: column;
}

.module{
    padding: 20px;
    margin: 30px 0px 0px 0px;
    border-radius: 5px;
    border: 2px solid var(--ep-color-purple);
}

.module> .module-content> .module-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.module> .module-content> .module-header> .module-title{
    width: 90%;
    margin: 0px 20px;
    border: 1px solid var(--ep-color-purple);
    background-color: transparent;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: var(--ep-color-gray-lighter);
}

.module> .module-content> .module-header> .module-delete-btn{
    display: flex;

}

.module> .module-content> .module-header> .module-delete-btn> i{
    color: var(--ep-color-gray-lighter);
    font-size: 26px;
    background-color: var(--ep-color-dark);
    cursor: pointer;
}

.module> .module-content> .add-lesson> .add-lesson-btn{
    padding: 10px 15px;
    background-color: var(--ep-color-purple);
    height: 40px;
    border-radius: 5px;
    color: var(--ep-color-gray-lighter);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}

.lesson-group{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
    border: 1px solid var(--ep-color-purple);
    border-radius: 8px;
    padding: 10px;
    margin: 7px 0px;
    width: 100%;
}

.lesson-header{
    display: flex;
    grid-column: 1 / -1;
    text-align: start;
    margin-bottom: 10px;
    justify-content: space-between;
}

.lesson-header> h1{
    font-size: 18px;
}

.lesson-header> .lesson-delete-btn{
    background-color: var(--ep-color-gray-dark);
    color: var(--ep-color-gray-lighter);
    cursor: pointer;
}

.lesson-header> .lesson-delete-btn> i{
    font-size: 16px;
}

.lesson-group> .input-labels{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    font-size: 14px;
}

.lesson-group> .fields{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 5px;
}

.lesson-group> .fields> input{
    width: 100%;
    border: 1px solid var(--ep-color-purple);
    background-color: transparent;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: var(--ep-color-gray-lighter);
}