.ep-navbar-home{
    width: 100%;
    background-color: var(--ep-color-gray-dark);
    top: 0;
    position: fixed;
    height: var(--ep-navbar-home-size);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 28px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#open-sidebar-btn{
    top: 30px;
    background-color: var(--ep-color-purple);
    color: var(--ep-color-gray-lighter);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}
.ep-navbar-home> .nav-content-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ep-navbar-home> .nav-content-left> .logo> img{
    height: 5rem;
}

.ep-navbar-home> .nav-content-right> .user-photo> img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
}

.nav-content-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.ep-navbar-home> .nav-content-right> .search-content{
    background-color: var(--ep-color-purple);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: var(--ep-footer-font);
}

.ep-navbar-home> .nav-content-right> .search-content:focus-within{
    border: 2px solid var(--ep-color-gray-lighter);
}

.ep-navbar-home> .nav-content-right> .search-content> input,
.ep-navbar-home> .nav-content-right> .search-content> button{
    color: var(--ep-color-gray-lighter);
    background-color: transparent;
    height: 40px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    outline: none;
    padding: 10px 15px;
    font-family: var(--ep-footer-font);
}

.ep-navbar-home> .nav-content-right> .search-content> button{
    cursor: pointer;
    padding-left: 0px;
}

.ep-navbar-home> .nav-content-right> .notifications{
    background-color: transparent;
    color: var(--ep-color-gray-lighter);
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 480px){
    .ep-navbar-home> .nav-content-right> .search-content{
        display: none;
    }
}
