#ep-sidebar{
    margin-top: var(--ep-navbar-home-size);
    width: var(--ep-sidebar-home-size);
    background-color: var(--ep-color-dark);
    padding: 20px;
    height: 100vh;
    top: 0;
    left: 0;
    position: sticky;
}

.item-description{
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    transition: width 0.2s;
}

.d-flex{
    display: flex;
    margin: 0;
}

.content{
    margin-top: var(--ep-navbar-home-size);
    padding: 20px;
    flex-grow: 1;
    background-color: var(--ep-color-gray-dark);
    padding: 0px;
    width: 100%;
}

.sidebar {
    width: 250px;
    transition: all 0.3s ease;
}

.sidebar-hidden {
    margin-left: calc( - var(--ep-sidebar-home-size));
}
.content {
    transition: margin-left 0.3s ease;
}
.content-expanded {
    margin-left: 0; 
} 

.nav-item{
    padding: 20px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    width: 200px;
    gap: 10px;
}

.nav-item.active{
    background-color: var(--ep-color-purple);
}

.nav-item:hover:not(.active){
    background-color: var(--ep-color-purple);
}

.nav-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--ep-color-gray-lighter);
    background-color: transparent;
    justify-content: center;
}

#nav-itens {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.nav-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout-btn{
    padding: 22px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    width: 200px;
    gap: 10px;
    align-items: center;
    color: var(--ep-color-gray-lighter);
    background-color: var(--ep-color-dark);
}

#logout-btn:hover:not(.active){
    background-color: var(--ep-color-purple);
}

#logout-btn i{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

a[data-tooltip], button[data-tooltip] {
    position: relative;
    cursor: pointer;
}

a[data-tooltip]::after, button[data-tooltip]::after {
    content: attr(data-tooltip); 
    position: absolute;
    left: 50%; 
    bottom: 125%; 
    transform: translateX(-50%); 
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

a[data-tooltip]:hover::after, button[data-tooltip]:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px); 
}

button[data-tooltip] {
    padding: 10px 20px; 
}