#ep-sidebar{
    display: var(--ep-sidebar-home-display);
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--ep-color-dark);
    min-height: 100vh;
    overflow: hidden;
    float: left;
    position: fixed;
    top: var(--ep-navbar-home-size);
    transition: all .2s;
    min-width: var(--ep-sidebar-home-size);
}

.ep-sidebar-content{
    padding: 12px;
    justify-content: center;
    height: 100%;
}

.ep-sidebar span{
    margin: 0;
}

#side-itens {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item{
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    width: 200px;
}

.side-item.active{
    background-color: var(--ep-color-purple);
}
.side-item:hover:not(.active){
    background-color: var(--ep-color-purple);
}

.side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--ep-color-gray-lighter);
    background-color: transparent;
    justify-content: center;
}

.side-item.active a{
    color: var(--ep-color-gray-lighter);
}

.side-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout-btn{
    background-color: transparent;
    color: var(--ep-color-gray-lighter);
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    width: 200px;
}

#logout-btn.active{
    background-color: green;
}

#logout-btn:hover:not(.active){
    background-color: var(--ep-color-purple);
}

#logout-btn i{
    width: 20px;
    height: 20px;
}

.item-description{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width 0.2s;

}

#ep-sidebar.open-ep-sidebar {
    min-width: 15%;
}

#ep-sidebar.open-ep-sidebar .item-description{
    width: 150px;
}

#ep-sidebar.open-ep-sidebar .side-item a{
    justify-content: flex-start;
    gap: 14px;
}

#ep-sidebar.open-ep-sidebar #logout-btn{
    justify-content: flex-start;
    gap: 14px;
}

#ep-sidebar.open-ep-sidebar #logout-btn .item-description{
    display: flex;
    justify-content: flex-start;
    width: 150px;
}

.side-item i{
    color: var(--ep-color-gray-lighter);
}

#ep-sidebar .side-item #search-content-input{
    height: 20px;
    background-color: transparent;
    justify-content: flex-start;
    border: none;
}

#ep-sidebar.open-ep-sidebar .side-item #search-content-input{
    height: 20px;
    background-color: transparent;
    justify-content: flex-start;
    margin-left: 10px;
    border-radius: 5px;
    padding: 4px;
    border: 2px solid var(--ep-color-gray);
    color: var(--ep-color-gray-lighter);
}

#search-content-input::-webkit-input-placeholder {
    opacity: 2;
}