.form-content{
    width: 100%;
    /* height: calc(100dvh - 70px); */
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ep-color-gray-dark);
}

.form-content > .form-side-content{
    width: 32%;
    height: 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/backgrounds/form-side-purple.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50px 0px 0px 50px;
}

.form-content > .form-side-content> h2{
    color: var(--ep-color-gray-lighter);
    caret-color: transparent;
    text-align: center;
}

.form-content > #form-login{
    width: 30%;
    height: 60%;
    padding: 10px 20px;
    background-color: var(--ep-color-gray-dark-light);
    border-radius: 0px 50px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-content > #form-login > .form-title{
    color: var(--ep-color-gray-lighter);
    margin-bottom: 20px;
    caret-color: transparent;
}

.form-content> #form-login label{
    color: var(--ep-color-gray-lighter);
    font-size: 18px;
}

.form-content> #form-login input{
    color: var(--ep-color-gray-lighter);
    font-size: 18px;
    background-color: transparent;
    height: 40px;
}

.form-content> #form-login input:focus{
    border-color: var(--ep-color-purple);
    outline: none;
    box-shadow: 0 0 9px rgba(93, 0, 255, 0.5);
}

.form-content> #form-login button:hover{
    background-color: var(--ep-color-purple-light);
}

.form-content> #form-login button{
    background-color: var(--ep-color-purple);
    color: var(--ep-color-gray-lighter);
    font-size: 18px;
    border: none;
    width: 80px;
    height: 40px;
}

.form-content> #form-login p{
    color: var(--ep-color-gray-lighter);
    font-size: 18px;
}

.form-content> #form-login p a{
    padding-left: 5px;
    color: var(--ep-color-purple-light);
}