#toast-box {
    margin-top: 40px;
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ep-toast,
.ep-toast-error, 
.ep-toast-alert {
    position: relative;
    width: 400px;
    height: 80px;
    background: var(--ep-color-dark);
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    z-index: 1;
}

.ep-toast > span, 
.ep-toast-error > span, 
.ep-toast-alert > span {
    justify-content: center;
    margin: 0px 20px;
}

.ep-toast > span {
    color: var(--ep-color-purple);
}

.ep-toast-error > span {
    color: var(--ep-color-danger);
}

.ep-toast-alert > span {
    color: var(--ep-color-alert);
}

.ep-toast::after, 
.ep-toast-error::after,
.ep-toast-alert::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    animation: anim 6s linear forwards;
}

.ep-toast::after{
    background: var(--ep-color-purple);
}

.ep-toast-error::after{
    background: var(--ep-color-danger);
}

.ep-toast-alert::after{
    background: var(--ep-color-alert);
}

@keyframes anim{
    100%{
        width: 0;
    }
}