.user-account-section{
    padding: 0px 0px;
}

.user-account-section> .user-account-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.user-account-section> .user-account-content> .user-personal-data{
    border-radius: 15px;
    padding: 20px;
    min-width: 370px;
    width: 80%;
    max-width: 800px;
    color: var(--ep-color-gray-lighter);
    border: 1px solid var(--ep-color-purple);
}

.user-account-section> .user-account-content> .user-personal-data> #personal-data-form{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 20px;
}

.user-account-section> .user-account-content> .user-personal-data> #personal-data-form> .inputs{
    display: flex;
    flex-direction: column;
}

.user-account-section> .user-account-content> .user-personal-data> #personal-data-form> .line> input{
    border: 2px solid var(--ep-color-purple-light);
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--ep-color-gray-lighter);
    padding: 5px;
    font-size: 16px;
}

.user-account-section> .user-account-content> .user-personal-data> #personal-data-form{
    display: flex;
    flex-direction: column;
}

.user-account-section> .user-account-content> .user-personal-data> #personal-data-form> .line{
    display: grid;
    grid-template-columns: 150px calc(100% - 150px);
    align-items: center;
}

.user-account-section> .user-account-content> .user-personal-data #personal-data-form .save-editions{
    border-radius: 15px;
    min-width: 560px;
    width: 100%;
    max-width: 800px;
    color: var(--ep-color-gray-lighter);
    display: flex;
    justify-content: flex-end;
}

.user-account-section> .user-account-content> .user-personal-data #personal-data-form .save-editions button{
    background-color: var(--ep-color-purple);
    padding: 10px 20px;
    color: var(--ep-color-gray-lighter);
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.user-account-section> .user-account-content> .user-config{
    padding: 20px;
    border: 2px solid var(--ep-color-purple);
}

.user-account-section> .user-account-content> .user-personal-data> .user-photo-edit{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5px;
}

.user-account-section> .user-account-content> .user-personal-data> .user-photo-edit> .photo-edit{
    width: 50px;
    height: 50px;
    background-image: url(/assets/image/user-photo.jpeg);
    background-size: 50px 50px;
    border-radius: 50px;
    cursor: pointer;
}

.user-account-section> .user-account-content> .user-personal-data> .user-photo-edit> .photo-edit> .edit-background> i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ep-color-gray-lighter);
    font-size: 20px;
}

.user-account-section> .user-account-content> .user-personal-data> .user-photo-edit> .photo-edit> .edit-background{
    background-color: rgba(117, 0, 128, 0.26);
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.user-account-section> .user-account-content> .user-account-header{
    width: 100%;
    height: 120px;
    background-color: var(--ep-color-purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-account-section> .user-account-content> .user-account-header> .header-content> i{
    font-size: 80px;
    color: var(--ep-color-dark);
}

.user-account-section> .user-account-content> .user-account-header h1{
    font-family: var( --ep-secondary-big-font);
        color: var(--ep-color-gray-lighter);
}

.user-account-section> .user-account-content> .user-account-header> .header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user-account-section> .user-account-content> .user-account-header> .header-content> .header-description> h2{
    font-size: 16px;
    color: var(--ep-color-gray-lighter);
}

.user-account-section> .user-account-content> .user-config{
    border-radius: 15px;
    padding: 20px;
    min-width: 370px;
    width: 80%;
    max-width: 800px;
    color: var(--ep-color-gray-lighter);
    border: 1px solid var(--ep-color-purple);
}

.user-account-section> .user-account-content> .user-config> .inputs-select{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.user-account-section> .user-account-content> .user-config> .inputs-select> .line{
    display: grid;
    grid-template-columns: 150px calc(100% - 150px);
    align-items: center;
}

.user-account-section> .user-account-content> .user-config> .inputs-select> .line> select{
    border: 2px solid var(--ep-color-purple-light);
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--ep-color-gray-lighter);
    padding: 5px;
    font-size: 16px;
    width: 100%;
}

.user-account-section> .user-account-content> .user-config> .inputs-select> .line> select> option{
    background-color: var(--ep-color-gray-dark);
}

.user-account-section> .user-account-content> .user-security{
    border-radius: 15px;
    padding: 20px;
    min-width: 370px;
    width: 80%;
    max-width: 800px;
    color: var(--ep-color-gray-lighter);
    border: 1px solid var(--ep-color-purple);
}

.user-account-section> .user-account-content> .user-security> .user-security-inputs> .line{
    display: grid;
    grid-template-columns: 150px calc(100% - 150px);
    align-items: center;
}

.user-account-section> .user-account-content> .user-security> .user-security-inputs{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.user-account-section> .user-account-content> .user-security> .user-security-inputs> .line> .input-group{
    border: 2px solid var(--ep-color-purple-light);
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--ep-color-gray-lighter);
    padding: 5px;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
}

.user-account-section> .user-account-content> .user-security> .user-security-inputs> .line> .input-group> input{
    width: calc(100% - 25px);
    height: 100%;
    background-color: transparent;
    outline: none;
    color: var(--ep-color-gray-lighter);
    font-size: 16px;
}

.user-account-section> .user-account-content> .user-security> .user-security-inputs> .line> .input-group> button{
    width: 20px;
    height: 100%;
    background-color: transparent;
    outline: none;
    color: var(--ep-color-gray-lighter);
    cursor: pointer;
}

.user-account-section> .user-account-content> .save-editions{
    border-radius: 15px;
    min-width: 560px;
    width: 80%;
    max-width: 800px;
    color: var(--ep-color-gray-lighter);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.user-account-section> .user-account-content> .save-editions> .save-editions-btn{
    background-color: var(--ep-color-purple);
    padding: 15px 25px;
    color: var(--ep-color-gray-lighter);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

