:root{
    --ep-color-primary: #4324d4;
    --ep-color-purple: #8543e2;
    --ep-color-purple-light: #9a67e1;
    --ep-color-gray-dark: #212121;
    --ep-color-gray-dark-light: #555;
    --ep-color-gray-lighter: #fafafa;
    --ep-color-gray-light: #d1d1d1;
    --ep-color-gray: #a8a29e;
    --ep-color-dark: #161021;
    --ep-color-danger: #f51e1e;
    --ep-color-alert: #eded34;
}