:root{
    --ep-navbar-font: "Patua One", serif;

    --ep-primary-font: "Inter", sans-serif;

    --ep-secondary-big-font: "Archivo Black", sans-serif;
    --ep-secondary-font: "Bree Serif", serif;
    --ep-big-font: "Passion One", sans-serif;

}