:root{
    --ep-navbar-font: "Patua One", serif;

    --ep-primary-font: "Inter", sans-serif;

    --ep-name-font: "Archivo Black", sans-serif;
    --ep-surname-font: "Bree Serif", serif;
    --ep-big-font: "Passion One", sans-serif;

}